# IDE
.vs/
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env / secrets
.env
.env.local
.env.*.local
**/secrets.json

# Node (pour le futur front)
node_modules/
.nuxt/
.output/
dist/
.cache/

# Build artifacts .NET
**/bin/
**/obj/

# Docker volumes
**/pgdata/
